// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: url('clouds.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main {
  padding: 15px;
}


#footer {
  padding-bottom: 20px;
}

.row-nomargin {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
  margin-left: 0px;
  padding: 0;
}
canvas {
  float: left;
}

#code_sample {
  width: 100%;
}



.clear {
  background-color: #ffffff;
  opacity:0.9;
  margin-top: 40px;
}